black==24.2.0
flake8==7.0.0
isort==5.13.2
mypy==1.8.0

fontvalidator @ git+https://github.com/Funami580/Myaamori-Aegisub-Scripts@98f629a23837d3fb8de1aeddea3541d8d13be614#subdirectory=scripts/fontvalidator
getfscaler @ git+https://github.com/Jaded-Encoding-Thaumaturgy/getfscaler@7cd966d8ed7dae7a7134be9e55190c71ed0de9dd
getnative @ git+https://github.com/Infiziert90/getnative@720c3953d7668d0d5daf8abf827d63b3936d6d2b
getnativef @ git+https://github.com/Vodes/getnativef@7038fed0737287f2bd32580ef549f6facb4932bf

# dependencies of vspreview plugins
scipy==1.12.0
