pymediainfo==6.1.0
sox==1.4.1

# JET
lvsfunc @ git+https://github.com/Jaded-Encoding-Thaumaturgy/lvsfunc@79989a8637ad8712b0d95994a2c8b3c08d3e887c
muxtools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/muxtools@256493a1f774e80ab4c8ec9fd02c0ca9279f9498
vsaa @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-aa@2c068f02026780df290d62722b944d64b61eb18c
vsdeband @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-deband@f216647320176e67e301680b51c21371627a43ea
vsdehalo @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-dehalo@508b8b2d5519ee7a27854cb68c46b6911dab9976
vsdenoise @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-denoise@c06ff018f5baa7b9c23d7712e65279ae68e02ef4
vsexprtools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-exprtools@ce28ecf44e2525ada73725b47e4f7c81aada12b9
vskernels @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-kernels@73419b2399ce8e1d652bbf07d543245214d9d621
vsmasktools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-masktools@b7aee78818d61b6dc720bf3b78a5bf6d210f3f29
vsmuxtools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-muxtools@b6a5949d31b519f501a4de781bf2f66aca1c7e76
vspreview @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-preview@d3e829916a6fb158a4c090b5522244a24b7de0e8
vsrgtools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-rgtools@ef47164bc5c6ef9bf56b514c51b39ccbd817a8c1
vsscale @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-scale@69d0085f730f3580950f3e0f24b8a18da3d9e5b8
vssource @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-source@8a6a24fe36123f84aa30d5d45ccd8cc9bd927064
vstools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-tools@d972855911a082dd4c823aa0c61764e017e6bdd9

awsmfunc @ git+https://github.com/OpusGang/awsmfunc@d46075c692877cea3ed0e31af64d082ece81c410
jvsfunc @ git+https://github.com/dnjulek/jvsfunc@0200b4fe464557fb62ea1abdc04e6851b683bf2e
vodesfunc @ git+https://github.com/Vodes/vodesfunc@070ffe8f9d9a0a9696faf1c51913b8e907af4569
vs-rekt @ git+https://github.com/OpusGang/rekt@f2030312d0f9cf1d063417adae545ff8789baaef