pymediainfo==6.1.0
sox==1.4.1

# JET
lvsfunc @ git+https://github.com/Jaded-Encoding-Thaumaturgy/lvsfunc
muxtools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/muxtools
vsaa @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-aa
vsdeband @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-deband
vsdehalo @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-dehalo
vsdenoise @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-denoise
vsexprtools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-exprtools
vskernels @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-kernels
vsmasktools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-masktools
vsmuxtools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-muxtools
vspreview @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-preview
vsrgtools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-rgtools
vsscale @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-scale
vssource @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-source
vstools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/vs-tools

awsmfunc @ git+https://github.com/OpusGang/awsmfunc
jvsfunc @ git+https://github.com/dnjulek/jvsfunc
vodesfunc @ git+https://github.com/Vodes/vodesfunc
vs-rekt @ git+https://github.com/OpusGang/rekt