black==24.4.1
flake8==7.0.0
isort==5.13.2
mypy==1.10.0

fontvalidator @ git+https://github.com/Funami580/Myaamori-Aegisub-Scripts#subdirectory=scripts/fontvalidator
getfscaler @ git+https://github.com/Jaded-Encoding-Thaumaturgy/getfscaler
getnative @ git+https://github.com/Infiziert90/getnative
getnativef @ git+https://github.com/Vodes/getnativef

# dependencies of vspreview plugins
scipy==1.13.0
